<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Mgek Mail</title>
</head>
<body style="font-family: 'SFMono-Regular',Menlo,'DejaVu Sans','Source Sans Pro','Consolas','Helvetica',sans-serif;background-color: #202020;line-height: 1.2">
<div style="padding: 10px 0;background-color: #303030;margin: 0 auto;width: 100%;color: whitesmoke;border-radius: 5px;font-size: 14px">
    <h3 style="padding: 6px 20px"><span style="color: white;font-size: 25px;padding: 0 2px;font-weight: bold">Mgek</span><span style="color: #111111;background-color: #f90;border-radius: 4px;padding: 4px 6px;font-size: 20px;font-weight: bold">APP</span></h3>
    <h4 style="text-align: center;color: #f5f5f5;font-size: 16px;font-weight: bold">感谢订阅Mgek</h4>
    <p style="padding: 0 20px"><span style="color: #f90">Mgek</span>是一个开源的，随意的，来源于生活的项目</p>
    <p style="padding: 0 20px">这里项目大多源于生活中的灵感，然后赋予其代码的魔力，使其成为Mgek项目的一部分，<span style="color: #f90">Mgek</span>意为Magic Work of life即生活中那些富含灵感和创意的工作。</p>
    <br>
    <p style="padding: 0 20px">你已经订阅了<span style="color: #f90">Mgek</span>项目，每当有新的灵感诞生，你会收到来自我们的通知邮件！</p>
    <p style="padding: 0 20px">想要了解更多有关<span style="color: #f90">Mgek</span>可以访问项目主页<a href="http://mgek.cc" style="color: #378de5;text-decoration: none;padding: 0 2px">Mgek.cc</a></p>
    <br>
    <p style="padding: 0 20px"><span style="background-color: #008573;padding: 6px 8px;border-radius: 4px;font-size: 18px">Mgek API</span></p>
    <p style="padding: 0 20px">访问<a href="http://api.mgek.cc" style="color: #378de5;text-decoration: none;padding: 0 2px">api.mgek.cc</a>了解Mgek的公共API</p>
    <p style="padding: 0 20px"><span style="background-color: #378de5;padding: 6px 8px;border-radius: 4px;font-size: 18px">BLOG</span></p>
    <p style="padding: 0 20px">访问<a href="http://blog.renj.io" style="color: #378de5;text-decoration: none;padding: 0 2px">blog.renj.io</a>我的个人博客了解我</p>
    <p style="padding: 0 20px"><span style="background-color: #222222;padding: 6px 8px;border-radius: 4px;font-size: 18px">GitHub</span></p>
    <p style="padding: 0 20px">访问<a href="https://github.com/landers1037" style="color: #378de5;text-decoration: none;padding: 0 2px">GitHub</a>关注我的GitHub代码库</p>

    <hr style="color: #808080;border-style: solid;width: 80%;margin: 40px auto 0 auto;border-right-width: 0;border-left-width: 0;border-bottom-width: 0">
    <p style="padding: 0 20px;font-size: 12px">如果你没有订阅此邮件，请点此<a href="http://mgek.cc/unsub" style="color: #378de5;text-decoration: none;padding: 0 2px">退订</a>，Copyright©<a href="http://renj.io" style="color: #378de5;text-decoration: none;padding: 0 2px">Landers</a>，Powered by <a href="http://mgek.cc" style="color: #378de5;text-decoration: none;padding: 0 2px">Mgek</a>.</p>
</div>
</body>
</html>