<!DOCTYPE html>
<html lang="zh-CN" style="max-width: 600px;margin: 0 auto">
<head>
    <meta charset="UTF-8">
    <title>Renj bot</title>
</head>
<body style="margin: 0;padding: 0;max-width: 600px;">
    <div style="background-color: white;padding: 15px">
        <h1 style="font-weight: bold;font-size: 45px;color: #495a80;margin-top: 10px;margin-bottom: 15px">Renj<i style="font-style: normal">.</i>io</h1>
        <h3 style="font-size: 15px;color: #a0a0a0;margin: 0">自动回复机器人</h3>
        <p style="font-size: 24px;">你好，{{ address }}</p>
        <div style="margin-top: 0;font-size: 18px;color: #444444">
            <p>感谢来访本站，我是Landers。一名普普通通的开发者，希望你今天过得开心充实。了解更多关于<a href="http://me.renj.io" style="text-decoration: none;color: #378de5">我的信息</a></p>
            <p>Thanks for visiting my site, I'm Landers, a normal developer, have a nice day! To know more <a href="http://me.renj.io" style="text-decoration: none;color: #378de5">about me</a></p>
        </div>
        <div style="margin-top: 30px">
            <p style="color: #666666;margin-bottom: 40px">如果你没有订阅本信息，请忽略它，或者将这个地址加入黑名单。抱歉打扰！</p>
            <p style="text-align: center;color: #ffffff;margin-bottom: 0">
                <span style="background-color: #495a80;padding: 5px 10px;color: #ffffff;font-weight: bold;font-size: 14px">Renj<i style="font-style: normal">.</i>io Bot</span>
            </p>
            <p style="text-align: center;margin-top: 20px;color: #444444">copyright@Landers <a href="http://renj.io" style="color: #378de5;text-decoration: none">renj.io</a></p>
        </div>
    </div>
</body>
</html>