<!DOCTYPE html>
<html>
<head>
    <title>关于 | Landers</title>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="theme-color" content="#495a80">
    <meta name="description" content="廖仁杰的个人主页关于页面,Landers的个人主页关于页面,在这里了解关于我的信息">
    <meta name="keywords" content="廖仁杰,Landers,个人主页,renj.io,关于">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-title" content="Renj.io">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name=”x5-page-mode” content="app">
    <meta name="renderer" content="webkit">
    <meta name="browsermode" content="application">
    <link href="/static/res/favicon.png" rel="shortcut icon">
    <link href="/static/res/apple-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.0/dist/css/bootstrap.min.css" integrity="sha256-JnRsKkBFuGrwCYmwj8aV3brs5M16CrcAkg7Z+hkObZ8=" crossorigin="anonymous">
    <link href="/static/css/about.css" type="text/css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.0/css/all.min.css" integrity="sha256-ybRkN9dBjhcS2qrW1z+hfCxq+1aBdwyQM5wlQoQVt/0=" crossorigin="anonymous">
    <link href="/static/css/font/lato.css" rel="stylesheet">
</head>

<body>
    <div class="headpan">
        <div class="headimg">
            <p class="inforight"><a href="/">主页</a>&emsp;<a href="/blog">博客</a>&emsp;<a href="/donate">赞助</a></p>
            <div class="headtext">
                <div class="animated fadeInDown">
            <h2>Landers1037</h2>
                <p style="font-size: 15px;margin-bottom: 25px">一个充满创造力的地方</p>
                </div>
                <p class="animated fadeInDown fontawsome"><i class="fab fa-docker">&nbsp;</i><i class="fab fa-python">&nbsp;</i><i class="fas fa-flask">&nbsp;</i><i class="fab fa-js"></i>
                    <i class="fab fa-centos">&nbsp;</i><i class="fab fa-github">&nbsp;</i><i class="fab fa-font-awesome">&nbsp;</i><i class="fab fa-bootstrap"></i>
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>关于本站</h1>
        </div>
        <p class="xianyu">本站用于记录博客，分享生活，学习交流，练习测试</p>
        <div class="page-header">
            <h1>关于我</h1>
        </div>
        <div style="text-align: center;margin-bottom: 10px">
            <img src="https://img.shields.io/github/followers/landers1037?style=social" style="margin-right: 5px">
            <img src="https://img.shields.io/github/languages/count/landers1037/mgekweb" style="margin-left: 5px">
        </div>
        <p class="xianyu">一条来自华中科技大学的咸鱼🐟</p>
        <div style="margin-bottom: 20px">
            <p></p>
        </div>
        <div>
            <div class="grid-item animated fadeInDown">
                <div class="img">
                <li class="round">
                    <p class="fas fa-bread-slice"></p>
                </li>
                </div>
                <div class="text">
                    <p>我来自华中科技大学HUST，这里是一片神奇的地方</p>
                </div>
            </div>
            <div class="grid-item animated fadeInDown" style="animation-delay: .2s">
                <div class="img"><li class="round">
                    <p class="fab fa-docker"></p>
                    </li>
                </div>
                <div class="text">
                    <p>学习经历: Java基础，Python基础，Flask开发，Spring Boot开发，Scrapy爬虫，数据库，python数据分析，嵌入式Linux<br>Go高性能开发，Docker容器技术，Vue.js</p>
                </div>
            </div>
            <div class="grid-item animated fadeInDown" style="animation-delay: .4s">
                <div class="img">
                <li class="round">
                    <p class="fas fa-film"></p>
                </li>
                </div>
                <div class="text">
                    <p>喜欢的剧: 瑞克与莫蒂，苍穹浩瀚，黑镜，权力的游戏，夏洛克，非自然死亡，轮到你了，火影忍者。<br>喜欢看的书: 科幻，玄幻，魔幻，小说，传记，纪实，技术<br>喜欢的视频博主: 华农兄弟，Lex，敖厂长，努力的Lorre</p>
                </div>
            </div>
            <div class="grid-item animated fadeInDown" style="animation-delay: .6s">
                <div class="img">
                <li class="round">
                    <p class="fas fa-headphones-alt"></p>
                </li>
                </div>
                <div class="text">
                    <p>用来放松的音乐: [Samurai]，[despair]，[Bridge of Faith]，[Out of Time]，[For the Damaged Coda]</p>
                </div>
            </div>
            <div class="grid-item animated fadeInDown" style="animation-delay: .8s">
                <div class="img">
                <li class="round">
                    <p class="fab fa-telegram-plane"></p>
                </li>
                </div>
                <div class="text">
                    <p>我的steam账户:&nbsp;<a href="https://steamcommunity.com/id/pipi831143">Hotwaterman</a></p>
                    <p>我的邮箱:&nbsp;<a href="mailto:liaorenj@gmail.com">Gmail</a>
                    <a href="mailto:mail@renj.io" style="margin-left: 15px">Renj Mail</a></p>
                    <p>我的电报:&nbsp;<a href="https://t.me/Greatpipi">Telegram</a></p>
                </div>
            </div>

        </div>
        <div class="anim"><p id="ball" style="font-size: 40px;text-align: center;width: 120px;cursor: pointer" class="fas fa-battery-full"></p></div>
        <div class="showthanks" id="showthanks"><p id="thanks">感谢来访<br>Landers1037</p></div>
        <a id="goto" class="goto" href="/">去主页看看</a>
        <div class="modal-footer">
            <a href="/">网站主页</a>
            <span class="split">|</span>
            <a href="/status">站点信息</a>
            <span class="split">|</span>
            <a href="/copyright">版权声明</a>
            <span class="split">|</span>
            <a href="/public">公共主页</a>
        </div>
         <p class="banquan">版权所有©Landers&nbsp;|&nbsp;Renj.io</p>
    </div>

    <script src="/static/js/nocopy.js" defer></script>
    <script>
        let ball = document.getElementById("ball");
        let thanks = document.getElementById("showthanks");
        ball.onclick = function () {
            if(thanks.style.display === "none" || !thanks.style.display){
                thanks.style.display = "block";
            }else{
                thanks.style.display = "none";
            }

        };
    </script>


</body>
</html>