{% extends './base/mod_base1.html' %}
{% block title %}Copyright | 版权所有{% endblock title %}

{% block body %}
      <header class="post-header">
          <h2 class="post-title" itemprop="name headline">
              <p style="font-size: 120%">版权声明</p>
          </h2>
      </header>

    <div class="post-body" itemprop="articleBody">
        <p style="font-size: 110%">这是我的个人主页，起始于2017年</p>
        <p>网站架构Flask，使用Bootstrap, Vue, Jquery等编写，文件缓存服务<a href="http://file.mgek.cc">MgekFile</a>，接口提供<a href="http://api.mgek.cc">Mgek CloudAPI</a><br><br>
           博客文章多来自工作学习的总结与感悟，部分内容参考自互联网<br>
           除非特别标注，转载博客文章时请署名<b>Landers</b>并注明文章<b>来源链接</b></p>

        <div class="postmar"></div>
    </div>
{% endblock body %}