{% extends './base/mod_base2.html' %}
{% block title %}探索版块{% endblock %}

{% block body %}
      <header class="post-header">
          <h2 class="post-title" itemprop="name headline">
              <p style="font-size: 120%">{{ theme }}版块</p>
          </h2>
      </header>
        <pre><code>$ rm -rf /*.unhappy</code></pre>
    <div class="post-body" itemprop="articleBody">

            {% for p in problems %}

                 <span class="{{ item }}" style="font-size: 25px"></span>
                 <li  class="text" style="margin-bottom: 20px;margin-right: 15px">{{ p.text }}</li>
            {% endfor %}
        <div class="postmar"><br></div>
    </div>
{% endblock %}