<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="mediumpurple">
    <title>#@$%</title>
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-title" content="Renj.io">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name=”x5-page-mode” content=”app”>
    <meta name="renderer" content="webkit">
    <meta name="browsermode" content="application">
    <link href="/static/res/favicon.png" rel="shortcut icon">
    <link href="/static/res/apple-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="/static/css/login/style.css">
</head>

<body>

<div class="container">
  <div class="info">
    <h1>Fl#y Hub</h1><span>Made with <i style="color: red;font-style: normal">❤</i> by Landers</span>
  </div>
</div>
<div class="form">
  <div class="thumbnail"><img src="/static/css/login/hat.svg"/></div>
  <form class="register-form">
    <input type="text" placeholder="name"/>
    <input type="password" placeholder="password"/>
    <input type="text" placeholder="email address"/>
    <button>create</button>
    <p class="message">已经有账户? <a href="#">登录</a></p>
  </form>
  <form class="login-form" method="post">
    <input type="text" name="username" autocomplete="off" placeholder="你的账户" required/>
    <input type="password" name="password" placeholder="你的密码" required/>
    <button type="submit" name="submit">登录</button>
    <p class="message">还没得账户? <a href="/new")>赶快创建</a></p>
  </form>
</div>

  <script src="/static/js/nocopy.js" defer></script>

</body>

</html>
