{% extends './base/mod_base1.html' %}
{% block title %}Facebook | 公共主页{% endblock title %}

{% block body %}
      <header class="post-header">
          <h2 class="post-title" itemprop="name headline">
              <p style="font-size: 120%">欢迎关注我的<a style="border: none;color: blue" href="https://fb.me/landers1037">FB</a>公共主页</p>
          </h2>
      </header>

    <div style="text-align: center;margin-left: 0" class="post-body" itemprop="articleBody">
        <img class="publicimg" src="/static/res/Landers1037.jpg">
        <p>fb.me/landers1037</p>
        <div class="postmar"></div>
    </div>
{% endblock body %}