{% extends './base/mod_base1.html' %}
{% block title %}自动回信{% endblock title %}

{% block style %}
    <style>
    .post-body{padding-bottom: 20px}
    .post-body p{margin-bottom: 20px}
    #mail{width: calc(100% - 100px);padding: 8px 10px;color: #1c1f2b;font-size: 15px}
    #send{display: inline-block;margin-left: 6px;background-color: #378de5;border-radius: 30px;color: white;padding: 0 15px;cursor: pointer;user-select: none}

    </style>
{% endblock %}
{% block body %}
      <header class="post-header">
          <h2 class="post-title" itemprop="name headline">
              <p style="font-size: 120%">自动回信</p>
          </h2>
      </header>

    <div class="post-body" itemprop="articleBody">
        <p>auto-reply bot service</p>
        <input type="text" autocomplete="off" placeholder="你的邮箱" id="mail"><span id="send" onclick="send()">确定</span>
        <p style="opacity: 0;margin-top: 30px" id="success">你的信息已经发送，机器人会自动回复到你的邮箱</p>
    </div>
{% endblock body %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
<script>
    let click = false;
    function send() {
        let mail = document.getElementById("mail").value;
        let success = document.getElementById("success");
        if(!click && mail.length >1 && mail.indexOf("@") !== -1){
            axios.put('http://api.renj.io/rest/jjmail/reply',{"address": mail},
            {headers: {"token": "efce4efdaa2f80fb2a59447aec43d2d433a8ff2cbbf36c50f14d15db5d7cc526"}}).then(res=>{
               if(res.data.data === "ok"){
                   click = true;
                   success.style.opacity = 1;
               }
            });
        }else if(click){
            success.innerText = "请勿重复请求";
        }
        else{
            alert("请检查填写的信息");
        }
    }
</script>
{% endblock %}