<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Timeline | Landers</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#495a80">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/res/favicon.png" rel="shortcut icon">
    <link rel="stylesheet" href="/static/css/timeline.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.0/css/all.min.css" integrity="sha256-ybRkN9dBjhcS2qrW1z+hfCxq+1aBdwyQM5wlQoQVt/0=" crossorigin="anonymous">
    <link href="/static/css/font/lato.css" rel="stylesheet">
</head>
<body>
    <div id="app"></div>

    <p style="font-size: 0.85rem;color: #222222">版权所有©<a class="copy" href="/">Landers</a></p>
    <script src="https://cdn.jsdelivr.net/npm/react@16.8.3/umd/react.production.min.js" integrity="sha256-b1J93otO3J00cQL8tB4X0mzwCv9ydpPqkUD3/CopiEI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-dom@16.8.3/umd/react-dom.production.min.js" integrity="sha256-B/7ihBNROzcdoRkl1NlKzGvjZpQpl4StUbqK8sUZxbE=" crossorigin="anonymous"></script>
    <script src="/static/js/timeline.js"></script>


</body>
</html>
